*{
	box-sizing: border-box;    
    font-family: 'Roboto', sans-serif;
}

body{
    background: #E5E5E5;
}

header{
    width: 100vw;
    left:0;
    top:0;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon{
    font-size: 50px;
    margin-right: 22px;
}

main{
    padding-top: 100px;
    padding-bottom: 90px;
    font-size: 14px;
    line-height: 20px;
}

main time{
    color: #AAAAAA;
}

main strong{
    font-weight: 700;
}

.mensagem{
    width:100%;
    border-radius: 2px;
    background: #FFFFFF;
    margin-bottom: 4px;
    padding: 12px 8px;
    word-wrap: break-word;
}

.status{
    background: #DCDCDC;
}

.private_message{
    background: #FFDEDE;
}

footer{
    position: fixed;
    width: 100vw;
    height: 80px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-left: 18px;
}

footer ion-icon{
    font-size: 36px;
    margin-right: 18px;
}

.caixa-input{
    position: relative;
    width: 100%;
    height: 100%;
}

input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

input::placeholder{
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

.caixa-input p{
    position: absolute;
    bottom: 3px;
    left: 1px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #7C7C7C;
    
}

.menu-lateral{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.fundo{
    background: rgba(0, 0, 0, 0.6);
    width: calc(100vw - 260px);
    height: 100%;
}


nav{
    background: #FFFFFF;
    width: 260px;
    height: 100%;
    padding-left: 18px;    
    padding-right: 18px;    
    font-size: 16px;
    line-height: 19px;
    overflow: auto;
}

h6{
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 7px;    
    padding-right: 7px;
}

.opcao{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;    
    overflow: hidden;
}

.opcao ion-icon{
    font-size: 26px;
    margin-right: 8px;
}

.icone-selecionado{
    position: absolute;
    right: 0;    
    bottom: 0;
}

.icone-selecionado ion-icon{    
    color: #28BB25;
    font-size: 16px;
    --ionicon-stroke-width: 86px;
}

.tela-login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-login img{
    width: 130px;
    height: 92px;
    margin-top: 15vh;
    margin-bottom: 18vh;
}

.tela-login input{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.tela-login input::placeholder{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #AEAEAE;
}

.tela-login button{
    width: 109px;
    height: 45px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #696969;

}

.escondido{
    display: none;
}